.outer {
    padding: 50px;
    background: beige;
}

.cityDropdown,.categoryDropdown,.inputSearch {
    width: 220px;
    
}

.inputSearch {
    height: 30px;
    padding: 2px;
}

.filterOptions {
    display: flex;
}

.categoryDropdown{
    font-size: 20px;
}